package templates

import (
	"github.com/blaze-d83/blog-app/internal/templates/components"
	"github.com/blaze-d83/blog-app/internal/templates/shared"
)

templ AboutPage() {
	@shared.Page("About") {
		<div>
			@components.Header("Welcome to About Page")
		</div>
	}
}
