
package templates

import (
	"github.com/blaze-d83/blog-app/internal/templates/components"
	"github.com/blaze-d83/blog-app/internal/templates/shared"
)

templ AdminDashboard() {
	@shared.Page("Admin") {
		<div>
			@components.Header("Welcome to Admin Dashboard")
		</div>
	}
}
