package templates

import (
	"github.com/blaze-d83/blog-app/internal/templates/components"
	"github.com/blaze-d83/blog-app/internal/templates/shared"
)

templ SupportPage() {
	@shared.Page("Support") {
		<div>
			@components.Header("Welcome to Support Page!")
		</div>
	}
}
