package shared 

templ Page(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{ title }</title>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="stylesheet" href="/static/output.css"/>
			<script src="/static/htmx.min.js"></script>
		</head>
		<body class="bg-white font-neurial font-light text-gray-800">
			{ children... }
		</body>
	</html>
}
