package components

templ Header(text string) {
	<div id="header" class="bg-gray-800 text-white shadow-md">
		<div id="container" class="container mx-auto px-4 flex justify-between items-center">
			{ text }
		</div>
	</div>
}
