package templates

import (
	"github.com/blaze-d83/blog-app/internal/templates/components"
)

templ HomePage() {
	@Page("HomePage") {
		<div>
			@components.Header("Welcome to Homepage")
		</div>
	}
}
